$bg-color: rgb(26, 29, 41);;
$collection-header-color: #fff;
$edge-padding: 30px;
$gap: 10px;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: $bg-color url("../images/bg-image.png") 50%/cover no-repeat fixed;
    padding: $edge-padding;
}

h1 {
    letter-spacing: 2px;
    font-size: 1.4em;
    color: $collection-header-color;
    margin: 0;

    img.hidden-mickey {
        width: 0.8em;
        vertical-align: middle;
        font-weight: bolder;
    }
}

ul.image-set {
    display: flex;
    list-style: none;
    overflow: auto;
    padding: 20px 20px 30px 20px;
    margin: 0;
    scroll-behavior: smooth;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;

    -ms-overflow-style: none;  /* IE and Edge */

    /* Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

ul.image-set li {
    padding: 0 10px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
}

.image-set li img {
    --gap: 10px;
    width: 250px;
    border: 4px solid transparent;
    border-radius: 4px;
    transition: transform .3s, filter .3s;
    filter: drop-shadow(0px 10px 5px #000);

    &:focus {
        border: 4px solid white;
        transform: scale(1.1);
        outline: none;
    }
}

@media (prefers-reduced-motion) {
    ul.image-set {
        scroll-behavior: unset;
    }

    .image-set li img:focus {
        transform: none;
    }
}